body {
  font-family: 'Poppins', sans-serif;
}

.sidebar a, .navbar-brand {
  font-family: 'Poppins', sans-serif;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  overflow-x: hidden;
  padding-top: 20px;
  background: linear-gradient(to right, #5e92f3, #7b72e9); /* Gradien biru */
  transition: 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #ff3366; /* Hover color */
  background-color: #f0f0f0; /* Hover background color */
}

.sidebar .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
  color: #3e3d3d; /* Close button color */
  transition: 0.3s;
}

.sidebar .close-btn:hover {
  color: #ffffff; /* Hover color for close button */
}

.sidebar a.btn {
  color: #ffffff; /* Warna teks putih */
  border: 2px solid #ffffff; /* Garis pinggir putih */
}

.sidebar a.btn:hover {
  background-color: #ffffff; /* Warna latar belakang putih saat hover */
  color: #000000; /* Warna teks hitam saat hover */
}

.content {
  margin-left: 0;
  padding: 20px; /* Tambahkan padding agar kontennya lebih lega */
  background-color: #f9f9f9; /* Ganti warna sesuai keinginan */
}

.btn {
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05); /* Efek scaling saat hover */
}

a {
  color: #ff6363;
  transition: 0.3s;
}

a:hover {
  color: #ff9a9e;
}


@media screen and (max-width: 767px) {
  /* Display the hamburger menu on smaller screens */
  .sidebar {
    left: 0;
  }

  .content {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  /* Display the full menu on larger screens */
  .sidebar {
    left: 0;
  }

  .content {
    margin-left: 250px;
  }
}
